altgraph>=0.17.4
contourpy>=1.2.1
cycler>=0.12.1
fonttools>=4.53.0
kiwisolver>=1.4.5
matplotlib>=3.9.0
Nuitka>=2.5.1
numpy>=1.26.4
ordered-set>=4.1.0
packaging>=24.1
pillow>=10.4.0
plotly>=5.22.0
psutil>=5.9.8
pyinstaller>=6.11.1
pyinstaller-hooks-contrib>=2025.4
pyparsing>=3.1.2
pyqtgraph>=0.13.7
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil>=2.9.0.post0
pywin32>=311; platform_system == "Windows"
QDarkStyle>=3.2.3
QtPy>=2.4.3
sarpy>=1.3.59
sarpy_apps>=1.1.23
scipy>=1.14.1
shapely>=2.1.1
shiboken6>=6.8.0.2
six>=1.16.0
tenacity>=8.3.0
tk_builder>=1.1.12
zstandard>=0.23.0
